.page-margin {
    background-color: #ffffff;
}

.main {
    background-image: url(assets/site_bg.jpg);
    background-repeat: repeat-x/repeat-y;
    margin: 20px;     
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}

.open {
    transform: translate(435px, 0);    
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: #ffffff;
}

// hero

.hero-container {
    position: relative;    
    overflow: hidden;    
}

.slides {
    display: flex;
    transform: translateX(0%);  
    transition: transform 1s ease;
    cursor: pointer;

    li {
        flex: 0 0 100%;
    }    
}

.hero-arrow-prev {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%) translateX(-200%) rotate(90deg);
    opacity: 0;
    transition: all 0.7s;
    transition-property: transform, opacity;    
    cursor: pointer;
}

.hero-arrow-next {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%) translateX(200%) rotate(-90deg);
    opacity: 0;
    transition: all 0.7s;
    transition-property: transform, opacity;    
    cursor: pointer;
}

.hero-container:hover .hero-arrow-prev {
    transform: translateY(-50%) translateX(0%) rotate(90deg);
    opacity: 1;
}

.hero-container:hover .hero-arrow-next {
    transform: translateY(-50%) translateX(0%) rotate(-90deg);
    opacity: 1;
}

.hero-arrow img {
    height: 40px;    
}

/// hero end

.gallery.gallery-small-screen {
    display: none;
}

.gallery img {
    transition: opacity 0.1s;
}

.gallery img:hover {
    opacity: 0.8;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    a {
        display: inline-block;
        width: 32%;
    }
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;

    a {
        display: inline-block;
        width: 49%;
    }
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;

    a {
        display: inline-block;
        width: 99%;
    }
}

