footer {
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px solid #000000; 
}

    footer form {
      margin-bottom: 20px;
      position: relative; }
      footer form input.text {
        width: 400px;
        height: 35px;
        padding: 0 20px; }
      footer form input.submit {
        height: 35px;
        padding: 10px 20px;
        background-color: #333333;
        color: #ffffff;
        outline: none;
        border: none;
        position: absolute; 
    }

    footer ul.links {
      display: flex; }
      footer ul.links li {
        margin-right: 10px; 
    }
    footer .credits {
      margin-top: 40px; }
      footer .credits p {
        padding-bottom: 5px; 
    }