@import url("https://use.typekit.net/kxx7xvs.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.page-margin {
  background-color: #ffffff;
}

.main {
  background-image: url(assets/site_bg.jpg);
  background-repeat: repeat-x/repeat-y;
  margin: 20px;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  transition: transform 0.5s ease;
}

.open {
  transform: translate(435px, 0);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: #ffffff;
}

.hero-container {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transform: translateX(0%);
  transition: transform 1s ease;
}
.slides li {
  flex: 0 0 100%;
}

.hero-arrow-prev {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%) rotate(90deg);
  cursor: pointer;
}

.hero-arrow-next {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%) rotate(-90deg);
  cursor: pointer;
}

.hero-arrow img {
  height: 30px;
}

.gallery.gallery-small-screen {
  display: none;
}

.row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.row-3 a {
  display: inline-block;
  width: 32%;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.row-2 a {
  display: inline-block;
  width: 49%;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.row-1 a {
  display: inline-block;
  width: 99%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
.toolbar input {
  padding: 10px 20px 0 20px;
  outline: none;
  border: none;
}
.toolbar a {
  margin-right: 20px;
}
.toolbar .burger {
  width: 2em;
}

header {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
header nav {
  width: 100%;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #000000;
}
header ul li {
  padding: 10px 20px;
  border-left: 1px solid #333333;
}
header ul li:first-child {
  border: none;
}
header .logo img {
  width: 250px;
  margin: 20px 0;
}

.mobile-nav, .subnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 435px;
  height: 100vh;
  background-color: #ffffff;
}
.mobile-nav form, .subnav form {
  padding: 20px 30px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}
.mobile-nav input, .subnav input {
  outline: none;
  border: none;
  background-color: #eeeeee;
}
.mobile-nav ul li, .subnav ul li {
  padding: 10px 25px;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.mobile-nav .subnav-button, .subnav .subnav-button {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 18px;
  height: 18px;
  border: 2px solid #333333;
  transform: translateY(-50%);
}
.mobile-nav .subnav-button img, .subnav .subnav-button img {
  width: 50%;
  transform: translate(4px, -3.5px) rotate(-90deg);
}

.master-nav {
  position: relative;
}

.subnav {
  transition: transform 0.5s ease;
  transform: translateX(100%);
}
.subnav .back-button {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}
.subnav .back-button .back-icon {
  height: 25px;
  width: 25px;
  border: 2px solid #333333;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subnav .back-button img {
  height: 15px;
  transform: rotate(90deg);
}

.js-subnav-visible {
  transform: translateX(0%);
}

.js-subnav-group {
  display: none;
}

.js-link-group-show {
  display: block;
}

footer {
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 3px solid #000000;
}

footer form {
  margin-bottom: 20px;
  position: relative;
}

footer form input.text {
  width: 400px;
  height: 35px;
  padding: 0 20px;
}

footer form input.submit {
  height: 35px;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  border: none;
  position: absolute;
}

footer ul.links {
  display: flex;
}

footer ul.links li {
  margin-right: 10px;
}

footer .credits {
  margin-top: 40px;
}

footer .credits p {
  padding-bottom: 5px;
}

body {
  font-family: "p22-underground";
  font-weight: 400;
  font-style: normal;
}

.mobile-nav li a, .subnav li a {
  font-size: 0.9em;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}

.back-button p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.7em;
  color: #333333;
}

header nav li a {
  font-size: 0.8em;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}

.toolbar a {
  text-decoration: none;
  color: #333333;
  font-size: 0.8em;
}

.toolbar form {
  font-size: 0.9em;
  letter-spacing: 0.2em;
}

footer form input {
  font-size: 0.65em;
  letter-spacing: 0.1em;
}

footer ul li a {
  font-size: 0.85em;
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  letter-spacing: 0.115em;
}

footer .credits p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #888888;
  font-size: 0.8em;
}

@media (min-width: 767px) {
  .burger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .subnav {
    display: none;
  }
}
@media (max-width: 900px) {
  .wrapper {
    max-width: 815px;
  }

  header nav li a {
    font-size: 0.6em;
  }

  .gallery.gallery-small-screen {
    display: block;
  }

  .gallery.gallery-desktop {
    display: none;
  }

  .hero {
    margin-bottom: 20px;
  }

  /*
  - shrink wrapper to 815px width
  - change to 2x 2 block rows and 1 full width
  */
}
@media (max-width: 767px) {
  .toolbar .searchbar {
    display: none;
  }

  .burger {
    display: block;
  }

  .main {
    margin: 0;
    box-shadow: 0px 0px 10px #cccccc;
  }

  nav {
    display: none;
  }

  /*
  - move nav to off-screen/burger menu
  - wrap bottom links to new line
  */
}

/*# sourceMappingURL=output.css.map */
