@media (min-width: 767px) {
    .burger {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .subnav {
        display: none;
    }
}

@media (max-width: 900px) {
    .wrapper {
        max-width: 815px;
    }

    header nav li a {
        font-size: 0.6em;
    }

    .gallery.gallery-small-screen {
        display: block;
    }

    .gallery.gallery-desktop {
        display: none;
    }

    .hero {
        margin-bottom: 20px;
    }

    /*
    - shrink wrapper to 815px width
    - change to 2x 2 block rows and 1 full width
    */
}

@media (max-width: 767px) {
    .toolbar .searchbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .main {
        margin: 0;
        box-shadow: 0px 0px 10px #cccccc; 
    }

    nav {
        display: none;
    }

    /*
    - move nav to off-screen/burger menu
    - wrap bottom links to new line
    */
}





