body {
    font-family: "p22-underground";
    font-weight: 400;
    font-style: normal; }
  
  header nav li a {
    font-size: 0.8em;
    text-decoration: none;
    color: #333333;
    font-weight: 400; }
  
  .toolbar a {
    text-decoration: none;
    color: #333333; }
  
  .toolbar form {
    font-size: 0.9em;
    letter-spacing: 0.2em; }
  
  footer form input {
    font-size: 0.65em;
    letter-spacing: 0.1em; }
  
  footer ul li a {
    font-size: 0.85em;
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    letter-spacing: 0.115em; }
  
  footer .credits p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #888888;
    font-size: 0.8em; }